.filters{
    background: white;
    height: 50px;
    width: 70%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 4px;

}
.filters button{
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    line-height: 48px;
    &:hover{
        opacity: 0.8;
    }

}
.locations{
    height: 100%;
    width: 30%;
    border-right: 1px solid #DDDDDD;
    line-height: 100%;
    text-align: left;
    padding-left: 8px;
    /* position: relative; */

}
.locations h3{
    font-weight: 600px;
    margin-bottom: 0px;
    
}
.locations h4{
    font-weight: 400px;
    font-size: 14px;
    margin-top: 0px;

}
.amenities{

     height: 100%;
    width: 50%;
    border-right: 1px solid #DDDDDD;
    line-height: 100%;
    text-align: left;
    padding-left: 8px;
}
.amenities h3{
    font-weight: 600px;
    margin-bottom: 0%;
}
.amenities h4{
    font-weight: 400px;
    font-size: 14px;    
    margin-top: 0%;
}

.popover{
    background: #FAFAFA;
    border: 1px #DDDDDD;
    border-radius: 4px;
    display: none;
    /* z-index: -1; */
    /* position: absolute; */
}
.locations:hover .popover{
    display: block;
}
.amenities:hover .popover{
    display: block;
}
ul{
    list-style: none;
}
